<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dustit.moderatorapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.ui.activities.RegisterActivity" />
        <activity android:name=".mvp.ui.activities.ChangeIpActivity" />
        <activity
            android:name=".mvp.ui.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activities.ChooserActivity" />
        <activity android:name=".mvp.ui.activities.LoginActivity" />
        <activity android:name=".mvp.ui.activities.DecideActivity" />
        <activity android:name=".mvp.ui.activities.SettingsActivity"></activity>
    </application>

</manifest>